@namespace app.WebClient.Components.Info.MainInfoBlock

<div>
    <Carousel>
        <CarouselSlick>
            <div class="slideCont">
                <h3 class="slideHeading">
                    Лучшний провайдер связи в Северозападном регионе
                </h3>
                <p class="slideText">
                    *по результатам опроса
                </p>
            </div>
        </CarouselSlick>
        <CarouselSlick>
            <div class="slideCont">
                <h3 class="slideHeading">
                    Лучшний провайдер связи в Северозападном регионе
                </h3>
                <p class="slideText">
                    *по результатам опроса
                </p>
            </div>
        </CarouselSlick>
        <CarouselSlick>
            <div class="slideCont">
                <h3 class="slideHeading">
                    Лучшний провайдер связи в Северозападном регионе
                </h3>
                <p class="slideText">
                    *по результатам опроса
                </p>
            </div>
        </CarouselSlick>
        <CarouselSlick>
            <div class="slideCont">
                <h3 class="slideHeading">
                    Лучшний провайдер связи в Северозападном регионе
                </h3>
                <p class="slideText">
                    *по результатам опроса
                </p>
            </div>
        </CarouselSlick>
    </Carousel>
</div>

<style>
    .ant-carousel .slick-slide {
        text-align: center;
        height: 420px;
        line-height: 160px;
        background: #364d79;
        overflow: hidden;
    }
    
    .ant-carousel .slick-slide h3 {
        color: #fff;
    }
</style>