@namespace app.WebClient.Components.Info

<Header>
    <div class="headerRow">
        <div class="logo">
            <Text>
                Связь
            </Text>
        </div>
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new[] { "2" })>
            <MenuItem Key="main_page">
                <a href="/">
                    <div class="menuitem">
                        <div class="iconCont">
                            <Icon Type="home" Theme="outline"></Icon>
                        </div>
                        Главная страница
                    </div>
                </a>
            </MenuItem>
            <MenuItem Key="cellular">
                <a href="/cellular-info">
                    <div class="menuitem">
                        <div class="iconCont">
                            <Icon Type="phone" Theme="outline"></Icon>
                        </div>
                        Сотовая связь
                    </div>
                </a>
            </MenuItem>
            <MenuItem Key="cable_internet">
                <a href="/cable-internet">
                <div class="menuitem">
                    <div class="iconCont">
                        <Icon Type="global" Theme="outline"></Icon>
                    </div>
                    Кабельный интернет
                </div>
                </a>
            </MenuItem>
            <MenuItem Key="internet_tv">
                <a href="/internet-tv-info">
                    <div class="menuitem">
                        <div class="iconCont">
                            <Icon Type="play-square" Theme="outline"></Icon>
                        </div>
                        Интернет тв
                    </div>
                </a>
            </MenuItem>
            </Menu>
            <a href="/login">
                <Button Type="@ButtonType.Primary">
                    Войти
                </Button>
            </a>
    </div>
</Header>

<style>
    .ant-typography {
        color:  white;
    }
</style>