@namespace app.WebClient.Components.Auth.AdminLoginComponent
@using System.ComponentModel.DataAnnotations;
@using app.Core.Services;
@using System.Text.Json;
@using app.WebClient.Pages

<div class="cont">
    <Card 
        Bordered="true" 
        Title=@("Вход администратора")
        Style="width: 300px; height: fit-content"
    >
        <Body>
        <Form Loading="loading" Model="@model" 
              LabelColSpan="8"
              WrapperColSpan="16"
              OnFinish="OnFinish" 
              OnFinishFailed="OnFinishFailed">
            <FormItem Label="Почта" >
                <Input @bind-Value="@context.Username"/>
            </FormItem>
            <FormItem Label="Пароль">
                <InputPassword @bind-Value="@context.Password" />
            </FormItem>
            <FormItem WrapperColOffset="8" WrapperColSpan="16">
                <Button Type="@ButtonType.Primary" HtmlType="submit">
                    Отправить
                </Button>
            </FormItem>
        </Form>
        </Body>
    </Card>
</div>

@code {
    public class Model
    {
        [Required]
        public string Username { get; set; }
        [Required]
        public string Password { get; set; }
    }

    private Model model = new Model();

    private void OnFinish(EditContext editContext)
    {
        var args = new LoginArgs();

        args.Login = model.Username;
        args.Password = model.Password;
        
        AdminAuth.PostLogin(args);
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(model)}");
    }

    bool loading = false;

    void toggle(bool value) => loading = value;
}