.adminPage {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #f0f2f5;
}

.sidebar {
    background: #001529;
    min-height: 100vh;
    height: 100%;
    flex-shrink: 0;
}

.adminMain {
    flex-shrink: 1;
    width: 100%;
}