@namespace app.WebClient.Components.Admin

<Content>
    <div class="site-layout-content">
        <h1>Добавление тарифа кабельного ТВ:</h1>
        <div class="spacer"/>
    </div>
</Content>

@code {
    
}